.input__section{
    align-items: center;
    background-color: rgb(228, 228, 228);
    border: 2px dotted rgb(214, 214, 214);
    border-radius: 0.35em;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    position: relative;
}
.taskInput{
    background-color: var(--off-white);
    border: none;
    border-radius: 0.35em;
    color: var(--text-color);
    font-size: 15px;
    outline: none;
    padding: 1.2em 5%;
    position: relative;
    transition: all 1s ease-out;
    width: 100%;
    z-index: 1;
}
.taskInput:focus{
    width: 70%;
}
.addButton{
    background-color: inherit;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    padding: 1.2em 5%;
    position: absolute;
    right: 0;
    width: 30%;
}
.addButton:hover{
    background-color: rgb(183, 183, 183);
    color: var(--off-white);
    transition: all 0.6s ease-in 0s;
}