@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --black: radial-gradient(at top right,#585858, #000000);
  --blue: radial-gradient(at top right,#604ED6, #8587FF);
  --blue-white: #d7e0ff;
  --first-background-color: #FEFEFE;
  --first-text-color: #414141;
  --timer-background-color:  rgba(255,255,255,0.5);
  --green: radial-gradient(at top right,#8af98e, #5d9b55);  
  margin:0;
  --off-white: #F3F3F3;
  --pink:  radial-gradient(at top right,#f4a1d1, #ff7dde);
  --purple: radial-gradient(at top right,#b822b3, #580078);
  --red: radial-gradient(at top right, hsl(359, 88%, 64%), #F8908D);
  --second-background-color: #F3F3F3;
  --second-text-color: #222222;
  --third-text-color: #fff;
  --text-color: #414141;
  --white: #fff;
  --yellow: radial-gradient(at top right,#F6CF29, #F8D34F);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: var(--color);
  background-size: cover;
  font-family: Kumbh Sans;
  min-height: 100svh;
  margin: 0;
  overflow-x: hidden;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding:0;
  min-height: 100svh;
  transition: background-image 0.5s ease-in-out 0s;
}
.main{
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
.second__container{
  background-color: var(--second-background-color);
  bottom: 0;
  border-radius: 2em;
  margin-top:3em; 
  max-width: 640px;
  position: relative;
  width:80%;
}


@media(min-width: 680px){

}

@media(max-width: 230px){
  
}

/*dark mode*/
  body.dark {
    --color: var(--black);
    --background-color: #1f2023;
    --color-foreground: #efefef;
    --first-background-color: #1f2023;
    --first-text-color: #fff;
    --second-background-color: #333437;
    --second-text-color: #ffffff;
    --off-white: #979797;
    --third-text-color: #1f2023;
    --timer-background-color:  rgba(153, 153, 153, 0.5);
     background-image: var(--black);
}
