.timerCircle__section{
  background-color: var(--timer-background-color);
  border-radius: 0.3em;
  color: var(--white);
  font-size: 92px;
  font-weight: 700;
  padding: 0 0.95em;
  position: relative;
}
.nameOfCircle{
  bottom: 3em;
  color: var(--white);
  font-size: 16px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.restartIcon{
  background-color: transparent;
  border: none;
  bottom: -3em;
  left: 0;
  position: absolute;
  right: 0;
}

@media(max-width: 680px){
    .timerCircle__section{
        padding: 0 0.95em;
    }
}

@media(max-width: 480px){
    .timerCircle__section{
        font-size: 82px;
        margin: 0 1em;
        padding: 0 0.2em;
    }
}
@media(max-width: 330px){
  .timerCircle__section{
        padding: 0;
    }
}
@media(max-width: 230px){
  .timerCircle__section{
    background: none;
    font-size: 50px;
    padding: 0;
  }
  .nameOfCircle{
    display: none;
  }
}