.timerCircle__section{
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 80px;
  font-weight: 700;
  height: 100%;
  margin-top: 1rem;
}

.menuSection{
  align-items: center;
  bottom: 0.5rem;
  color: var(--textColor-second);
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
  margin: 1rem 0;
  width: 90%;
  z-index: 9;
}

.playPauseBtn{
  align-items: center;
  background-image: var(--color);
  border: none;
  border-radius: 4rem;
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.019),
  0px 0px 5.3px rgba(0, 0, 0, 0.028),
  0px 0px 10px rgba(0, 0, 0, 0.035),
  0px 0px 17.9px rgba(0, 0, 0, 0.042),
  0px 0px 33.4px rgba(0, 0, 0, 0.05),
  0px 0px 80px rgba(0, 0, 0, 0.07);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: center;
  outline: none;
  padding: 1rem 1.2rem;
  width: 100px;
}

.restartIcon{
  background-color: transparent;
  border: none;
}

.playPauseImg{
  margin-right: 0.75em;
}

@media(min-width: 768px){
  .timerCircle__section{
    font-size: 95px;
    justify-content: space-between;
  }

  .menuSection{
    margin: 0;
  }

  .playPauseBtn{
    height: 60px;
    padding: 0;
    width: 145px;
  }
}

